.testimonial-component{
  div{
    border-bottom: 1px solid lighten($dark-grey, 35%);
    padding: 20px 0;
    p{
      color: lighten($color: #000000, $amount: 35%);
      line-height: 25px;
      font-family: Roboto, sans-serif;
      font-size: 90%;
      padding: 10px 0 20px 0;
    }
    h4{
      font-size: 90%;
      padding: 0 0 10px 0;
    }
    h3{
      font-size: 100%;
      text-align: unset;
      padding: 0 0 10px 0;
      color: $red;
    }
  }
}

.no-bottom-padding{
  padding-bottom: 0 !important;
}
@media screen and (max-width: 750px){
  .testimonial-component{
    div{
      p{

      }
      h4{

      }
      h3{

      }
    }
  }
}