.about-container{
  // height: 100vh;
  padding-top: 0;
  background: $med-grey;
}

@media screen and (max-width: 750px) {
  .about-container{
    height: auto;
    // overflow: hidden;
    // padding: 50px 0;
  }
}